<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_nh_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_nh_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ANetHack"
        tools:targetApi="31">
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />
        <activity
            android:name=".setting.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".NetHackActivity"
            android:label="@string/activity_settings_title" />
        <activity
            android:name=".setting.OptionEditActivity"
            android:exported="false"
            android:parentActivityName=".setting.SettingsActivity"
            android:label="@string/activity_option_edit_title" />
        <activity
            android:name=".NetHackActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yywspace.anethack.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_public_paths" />
        </provider>

    </application>

</manifest>